@charset "utf-8";

/* リセットcss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* その他のスタイルは以下に記述していきます */


/* -------ヘッダー--------- */

#header { 
    width: 100%;
    height: 70px;
    line-height: 70px;
    position: fixed;
    cursor: pointer;
    z-index: 100;
    background-color: #f2f2f2;
}

.header-logo {
    margin-left: 30px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav ul {
    display: flex;
    padding-right: 20px;
}

.header-nav li a {
    margin-right: 25px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

/* ---------catchcopy---------- */

#catchcopy {
    height: 700px;
    background: url(../img/mv.png) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.catchcopy-text{
    color: #f2f2f2;
    top: 50%;
    left: 50%;
    line-height: 50px;
    /* margin: 0 auto; */
}

.catchcopy-text1 {
    position: absolute;
    font-size: 50px;
    top: 45%;
    left: 25%;
    text-align: center;
}

.catchcopy-text2 {
    position: absolute;
    top: 55%;
    left: 35%;
    font-weight: bold;
    font-size: 20px;
}

/* ---------ミッション--------- */

.mission{
    height: 300px;
    background-color: #000;
}

.mission-content{
    margin: 0 auto;
    width: 65%;
    text-align: left;
    color: #f2f2f2;
}

.mission-title {
    font-size: 30px;
    margin-bottom: 25px;
    padding-top: 80px;
}

.mission-text {
    line-height: 25px;
}

/* ---------サービス------------ */

.service-title {
    text-align: center;
    font-size: 30px;
    margin: 100px auto 40px auto;
}

.service-content {
    display: flex; 
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.service-wrap{
    width: 45%;
}

.service-wrap img{
    width: 100%;
}

.service-text {
    margin: 20px 0;
}

.service-cach {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
} 

.service-botan {
    width: 300px;
    line-height: 50px;
    margin: 50px auto;
    border-radius: 3px;
    background: rgb(182, 3, 3);
    text-align: center;
}

.service-botan a{
    font-size: 15px;
    font-weight: bold;
    color: #f2f2f2;
    text-decoration: none;
}

.service-botan:hover {
    opacity: 0.7;
}

/* ----------ニュース----------- */

#news {
    height: 500px;
    background: #000;
    
}

.news-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
    padding-top: 100px;
}

.news-title {
    font-size: 30px;
    margin-left: 20%;
}

.news-botan {
    margin-right: 20%;
    padding: 10px 10px;
    border: none;
    background: rgb(182, 3, 3);
}

.news-botan a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #f2f2f2;
}

.news-botan:hover {
    opacity: 0.7;
}

.news-content {
    padding-top: 10px;
    margin-left: 20%;
    line-height: 70px;
}

.news-text {
    padding-left: 30px;
    background: #f2f2f2;
    margin: 10px 25% 10px 0;

}

.news-text a{
    text-decoration: none;
    color: #000
}

.news-text:hover {
    opacity: 0.7;
}

.text-style {
    font-weight: bold;
}

/* ---------ブログ---------- */

.blog-title {
    font-size: 30px;
    text-align: center;
    margin: 90px auto 30px auto;
}

.blog-content {
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 0 auto;
}

.blog {
    width: 70%;
    text-align: center;
}

.blog img{
    width: 80%;
}

.blog img:hover{
    opacity: 0.7;
}

.blog-text {
    width: 80%;
    text-align: left;
    margin: 0 auto;
    line-height: 25px;
}

.blog-text a{
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.blog-text:hover {
    opacity: 0.7;
}

.blog-botan {
    margin: 80px auto;
    text-align: center;
    width: 300px;
    line-height: 50px;
    border-radius: 3px;
    background: rgb(182, 3, 3);
}

.blog-botan a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #f2f2f2;
}

.blog-botan:hover {
    opacity: 0.7;
}

/* -------company-------- */

.company-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}

.company-section1 {
    width: 50%;
    height: 300px;
    background: rgb(182, 3, 3);
}

.company-section1 a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
}

.company-section1 h3{
    margin: 15% auto;
    line-height: -10%;
}

.company-section2 {
    width: 50%;
    height: 300px;
    background: #000;
}

.company-section2 a{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
}

.company-section2 h3{
    margin: 15% auto;
}

.company-section1:hover {
    opacity: 0.7;
}

.company-section2:hover {
    opacity: 0.7;
}

/* -------お問い合わせ-------- */

#info {
    background: rgb(243, 243, 243);
    height: 400px;
}

.info-content {
    text-align: center;
    padding-top: 7%;
}

.info-title {
    font-size: 30px;
    padding-bottom: 20px;
}

.info-botan {
    margin: 30px auto;
    width: 300px;
    line-height: 50px;
    border-radius: 3px;
    background: rgb(182, 3, 3);
}

.info-botan a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #f2f2f2;
}

.info-botan:hover{
    opacity: 0.7;
}

/* ---------フッター---------- */

#footer {
    background: #000;
    height: 60px;
}

.footer-logo {
    margin: 0 auto;
}

.footer-content {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    color: #f2f2f2;
    font-size: 15px;
}

.footer-link{
    margin: 0 auto;
}

.footer-link ul{
    display: flex;
}

.footer-link li a{
    width: 30%;
    text-decoration: none;
    padding: 0 10px;
    flex-grow: 1;
    color: #f2f2f2;
    text-align: center;
}

.footer-link li + li{
    border-left: 1px solid #f2f2f2;
} 

/* ----------レスポンシブデザイン------------- */

@media screen and (max-width: 768px) {

    /* -----------ハンバーガーメニュー---------- */

    #hamburger {
        width: auto;
        height: 40px;
        position: fixed;
        cursor: pointer;
        z-index: 100;
        top: 15px;
        right: 10%;
        transition: 0.5s;
    }

    #hamburger span {
        position: absolute;
        left: 2px;
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: 0.8;
    }

    #hamburger span:nth-of-type(1) {
        top: 10px;
    }

    #hamburger span:nth-of-type(2) {
        top: 20px;
    }

    #hamburger span:nth-of-type(3) {
        top: 30px;
    }

    .header-nav {
        display: none;
    }
    
    /* -----------キャッチコピー----------- */

    .catchcopy-text {
        text-align: center;
        width: 70%;
        line-height: 7vh;
        padding: 35% 0 0 15%;
    }

    .catchcopy-text1,.catchcopy-text2{
        position: static;
    }

    /* ---------ミッション--------- */

    .mission {
        height: auto;
    }

    .mission-content {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 10%;
        text-align: center;
    }

    .mission-title {
        text-align: left;
    }

    .mission-text {
        
        text-align: left;
    }


    /* ----------サービス----------- */

    .service-content{
        display: block;
    }

    .service-wrap {
        width: 80%;
        margin: 0 auto;
    }

     /* ---------ニュース--------- */

     #news {
         width: auto;
         height: auto;
         padding-bottom: 20%;
     }

     .news-flex {
         margin: 0 auto;
         width: 100%;
     }

 
    /* ----------ブログ----------- */

    .blog-content {
        display: block;
    }

    .blog {
        width: 100%;
    }
    
    .blog-botan { 
        bottom: 30%;
    }
    /* ---------会社概要----------- */

    .company-section1 a h3{
        padding: 20%;
    }

    .company-section2 a h3 {
        padding-top: 20%;
    }

    /* ---------インフォ----------- */

    .info-content {
        padding-top: 15%
    }

    /* ---------フッター----------- */

    #footer {
        height: auto;
    }
    
    .footer-content {
        display: block;
        text-align: center;
    }

    .footer-logo{
        padding-right: 50%;
    }

    .footer-link ul{
        display: block;
        padding: 0 0 5% 20%;
        margin: 0 auto;
    }

    .footer-link li a{
        width: auto;
        line-height: 30px;
    }

    .footer-link li + li{
        border-left: none;
    }
}
